* {
    margin: 0;
    padding: 0;
}
body{
    background: rgb(255, 232, 170);
}
@font-face {
    font-family: 'grego' ;
    src: url("font/Roman\ SD.ttf") format(truetype);
    font-weight: normal;
    font-style: normal;
}
.titulo{
    position:absolute;
}
.painel{
    width: 100%;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.painel img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.painel h1{
    font-family: 'grego', Times, serif;
    font-weight: normal;
    font-size: 50px;
}
.painel h2{
    font-size: 25px;
    text-align: center;
    padding: 16px;
}
.introduction {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    font-family: 'Times New Roman', Times, serif;
}
.text {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Times New Roman', Times, serif;
}
.text div{
    margin: auto;
    width: 50%;
}
.sub-tittle{
    font-family: 'grego', Times, serif;
    font-weight: normal;
    font-size: 40px;
    padding: 16px;
    text-align: center;
}
.paragraph{
    font-size: 27px;
    padding: 8px;
    text-align: left;
    font-family: system-ui, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.btn-contato{
    width: 60vh;
    height: 4vh;
    border: none;
    border-radius: 20px;
    font-size: 35px;
    text-transform: uppercase;
    letter-spacing: 4px;
    background-color: #615340;
    color: #ffffff;
    cursor: pointer;
    margin: 30px;
    text-align: center;
}
.btn-contato:hover{
    background-color: #ffffff;
    color: black;
    transition: all 0.3s ease-in-out;
}
.menu-animado{
    width: 70%;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    font-family: 'grego', Times, serif;
    margin: auto;
}
.animacoes{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: auto;
}
.animacoes p{
    font-size: 15px;
}
.menu-animado h2{
    font-size: 30px;
    padding: 16px;
    text-align: center;
}
.animacao{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    border: 2px solid #615340;
    margin-top: 20px;
}
.animacao img {
    width: 150px;
    height: 150px;
}
a {
    color: #ffffff;
    text-decoration: none;
    transition: 0.3s;
}
a:hover {
    opacity: 0.7;
}
.logo{
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #615340;
    height: 8vh;
}

.nav-list{
    list-style: none;
    display: flex;
}
.nav-list li{
    letter-spacing: 2px;
    margin-left: 32px;
}
.mobile-menu{
    display: none;
    cursor: pointer;
}
.mobile-menu div{
    width: 32px;
    height: 2px;
    background: #ffffff;
    margin: 8px;
    transition: 0.3s;
}
@media (max-width: 999px) {
    body{
        overflow-x: hidden;
    }
    .nav-list {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: #615340;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }
    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }
    .mobile-menu {
        display: block;
    }
}
@media (max-width: 1600px){
    .animacoes{
        flex-wrap: wrap;
        align-items: center;
        gap: 20px;
    }
    .animacao{
        width: calc(40% - 12px);
    }    
}
@media screen and (max-width: 1150px) {
    .animacao{
        width: calc(50% - 12px);   
    }
}
@media screen and (max-width: 900px) {
    .animacao{
        width: calc(100% - 12px);   
    }
}
.nav-list.active{
    transform: translateX(0);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
.mobile-menu.active .line1{
    transform: rotate(-45deg) translate(-8px, 8px);

}
.mobile-menu.active .line2{
    opacity: 0;

}
.mobile-menu.active .line3{
    transform: rotate(45deg) translate(-5px, -7px);

}
.footer{
    background: #615340;
    width: 100%;
    height: 15vh;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}
.footer-tittle{
    background-color: antiquewhite;
}
.footer p{
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
}
.footer-social-media{
    display: flex;
    margin-top: 1rem;
    gap: 3rem;
    align-items: center;
    justify-content: center;
}
.footer-link{
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background: rgb(51, 51, 51);
    display: flex;
    align-items: center;
    justify-content: center;
}
.painel-clientes{
    margin-top: 12vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    text-align: center;
}
.clientes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
}
.clientes-img{
    width: 200px;
    height: 160px;
}
.logo12{
    width: 60vh;
    height: 160px;
}
.logo14-18{
    border-radius: 20px;
    border: 3px solid #615340;
    width: 200px;
    height: 160px;
}
.logo16{
    background: #1c2f85;
    width: 200px;
    height: 160px;
    border-radius: 20px;
    border: 3px solid #000000;
}
.painel-clientes h2{
    font-family: 'grego', Times, serif;
    font-size: 40px;
}
@media screen and (max-width: 768px) {
    .introduction, .text div, .menu-animado .animacoes {
        width: 90% !important;
    }

    .btn-contato {
        width: 90%;
        font-size: 20px;
        height: auto;
        padding: 12px;
    }

    .sub-tittle {
        font-size: 30px;
    }

    .paragraph {
        font-size: 18px;
        text-align: left;
    }

    .painel h1 {
        font-size: 32px;
    }

    .painel h2 {
        font-size: 20px;
    }

    .clientes {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .clientes-img, .logo12 {
        width: 40vw;
        height: auto;
        margin: 10px;
    }

    .footer {
        height: auto;
        padding: 20px;
    }

    .footer p {
        font-size: 16px;
    }

    .footer-social-media {
        flex-wrap: wrap;
        gap: 1rem;
    }
}