* {
    margin: 0;
    padding: 0;
}
body{
    background: rgb(255, 232, 170);
}
@font-face {
    font-family: 'grego' ;
    src: url("Roman SD.ttf") format(truetype);
    font-weight: normal;
    font-style: normal;
}
.titulo{
    position:absolute;
}
.painel{
    width: 100%;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.painel img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.painel h1{
    font-family: 'grego', Times, serif;
    font-weight: normal;
    font-size: 50px;
}
.painel h2{
    font-size: 25px;
    text-align: center;
    padding: 16px;
}
.text{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Times New Roman', Times, serif;
}
.btn-contato{
    width: 60vh;
    height: 8vh;
    border: none;
    border-radius: 20px;
    font-size: 35px;
    text-transform: uppercase;
    letter-spacing: 4px;
    background-color: #615340;
    color: #ffffff;
    cursor: pointer;
    margin: 30px;
}
.btn-contato:hover{
    background-color: #ffffff;
    color: black;
    transition: all 0.3s ease-in-out;
}
.painel-valores{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #615340;
    width: 100%;
    height: 50vh;
    gap: 3rem;
}
.btn-valores{
    background: #ffffff;
    padding: 30px;
}
.text div{
    margin: auto;
    width: 40%;
}
.text h2{
    font-family: 'grego', Times, serif;
    font-weight: normal;
    font-size: 40px;
    padding: 16px;
}
.text h3, p{
    font-size: 30px;
    text-align: center;
    padding: 8px;
    text-align: left;
}
a {
    color: #ffffff;
    text-decoration: none;
    transition: 0.3s;
}
a:hover {
    opacity: 0.7;
}
.logo{
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #615340;
    height: 8vh;
}

.nav-list{
    list-style: none;
    display: flex;
}
.nav-list li{
    letter-spacing: 2px;
    margin-left: 32px;
}
.mobile-menu{
    display: none;
    cursor: pointer;
}
.mobile-menu div{
    width: 32px;
    height: 2px;
    background: #ffffff;
    margin: 8px;
    transition: 0.3s;
}
@media (max-width: 999px) {
    body{
        overflow-x: hidden;
    }
    .nav-list {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: #615340;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }
    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }
    .mobile-menu {
        display: block;
    } 
}
.nav-list.active{
    transform: translateX(0);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
.mobile-menu.active .line1{
    transform: rotate(-45deg) translate(-8px, 8px);

}
.mobile-menu.active .line2{
    opacity: 0;

}
.mobile-menu.active .line3{
    transform: rotate(45deg) translate(-5px, -7px);

}
.footer{
    background: #615340;
    width: 100%;
    height: 15vh;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}
.footer-tittle{
    background-color: antiquewhite;
}
.footer p{
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
}
.footer-social-media{
    display: flex;
    margin-top: 2rem;
    gap: 3rem;

    align-items: center;
    justify-content: center;
}
.footer-link{
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background: rgb(51, 51, 51);
    display: flex;
    align-items: center;
    justify-content: center;
}